<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://172.25.64.119:22001/jdd_campus_user?createDatabaseIfNotExist=true&amp;characterEncoding=utf-8&amp;useUnicode=true"/>
        <property name="username" value="root"/>
        <property name="password" value="Jrtest@#2020"/>
    </bean>

    <!--mysql-->
    <!--<bean id="processEngineConfiguration" class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration">-->
    <!--<property name="dataSource" ref="dataSource"></property>-->
    <!--<property name="databaseSchemaUpdate" value="true"/>-->
    <!--</bean>-->
    <!--h2-->
    <bean id="processEngineConfiguration" class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration">
        <property name="databaseType" value="h2"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="history" value="none"/>
    </bean>
</beans>